CONNECTION_STRING=mongodb+srv://<username>:<password>@<cluster-url>/?appName=Cluster0
DATABASE_NAME=UsersDB
USERS_COLLECTION_NAME=Users
TRANSACTIONS_COLLECTION_NAME=Transactions
CORS_ORIGIN=http://localhost:4200
